/* Üldine stiil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigeerimisriba stiil */
.navbar {
    background-color: #2b6777;
    padding: 15px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #a7d4cf;
}

/* Esimene osa - Hero sektsioon */
.hero {
    background: url('../img/esileht.png') no-repeat center center/cover;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.hero h1 {
    font-size: 2.5em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a7d4cf;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2b6777;
}

/* Info sektsioon */
.info-section, .services-section {
    padding: 40px;
    text-align: center;
}

.info-section h2, .services-section h2 {
    font-size: 2em;
    color: #2b6777;
    margin-bottom: 20px;
}

.map-container {
    margin-top: 20px;
    text-align: center;
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.main-sentence {
    font-size: 4em;
    font-weight: bold;
    color: #2b6777;
}

.highlight {
    color: white;
}

.meist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    gap: 2px;
    background-color: lightblue;
}

.description {
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.6;
}

.main-info {
    max-width: 45%;
}

.about-section {
    max-width: 45%;
}

.footer-meist {
    margin-top: 0px;
}